<% title "Recipe" %>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <%= link_to "Edit", edit_recipe_path(@recipe) %> |
  <%= link_to "Destroy", @recipe, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", recipes_path %>
</p>
