<% title "Steps" %>

<table>
  <tr>
    <th>Recipe</th>
    <th>Number</th>
    <th>Instruction</th>
  </tr>
  <% for step in @steps %>
    <tr>
      <td><%= step.recipe_id %></td>
      <td><%= step.number %></td>
      <td><%= step.instruction %></td>
      <td><%= link_to "Show", step %></td>
      <td><%= link_to "Edit", edit_step_path(step) %></td>
      <td><%= link_to "Destroy", step, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Step", new_step_path %></p>
