<% title "Step" %>

<p>
  <strong>Recipe:</strong>
  <%= @step.recipe_id %>
</p>
<p>
  <strong>Number:</strong>
  <%= @step.number %>
</p>
<strong>Ingredients</strong>
  <ol>
   <% for ingredient in @step.ingredients %>
    <li><%=h ingredient.name %></li>
   <% end %>
  </ol>
<p>
  <strong>Intruction:</strong>
  <%= @step.instruction %>
</p>

<p>
  <%= link_to "Edit", edit_step_path(@step) %> |
  <%= link_to "Destroy", @step, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", steps_path %>
</p>
